<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Кабинет администратора</title>

	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script type="text/javascript" src="/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<meta name="csrf-token" content="{{ csrf_token() }}" />
</head>
<body>
{% if salon == 1 %}
	<div align="center">
		<img src="img/logo.png" alt="logo">
	</div>
{% endif %}
{% if salon == 2 %}
	<div align="center">
		<img src="img/city-logo-1.jpg" alt="logo-city-1">
	</div>
{% endif %}
{% if salon == 3 %}
	<div align="center">
		<img src="img/city-logo-2.jpg" alt="logo-city-2">
	</div>
{% endif %}
{% if salon == 4 %}
	<div align="center">
		<img src="" alt="city-logo-3">
	</div>
{% endif %}
<div class="container-fluid is-margin-top-50">
	<div class="row">
		<div class="col s1 left-align">
			<a href="{{ route('main') }}" class="waves-effect waves-light btn"><i
						class="material-icons">arrow_back</i></a>
		</div>
		<div class="col s8 left-align">
			<form action="{{ route('change-salon') }}" method="get">
				<div class="col s4 ">
					<select name="new_salon" required>
						<option value="" disabled selected>Салон</option>
						<option value="1">Токио</option>
						<option value="2">Сити 1</option>
						<option value="3">Сити 2</option>
						<option value="4">Бьюти зона</option>
					</select>
				</div>
				<button type="submit" class="btn waves-effect waves-light green"><i
							class="material-icons">swap_horiz</i></button>
			</form>
		</div>
		<div class="col s2 right-align">
			<form action="{{ route('show-client-list') }}" method="get">
				<button type="submit" class="btn waves-effect waves-light blue">Клиенты</button>
			</form>
		</div>
		<div class="col s1 right-align">
			<a href="{{ route('tokio-logout') }}" class="btn waves-effect waves-light red"><i
						class="material-icons">exit_to_app</i></a>
		</div>
	</div>
</div>
<div class="container-fluid is-margin-top-50">
	<div class="row">
		<div class="col s12 text-center">
			<form action="{{ route('date-filter') }}" method="get">
				{% if new_filter_date1 == null %}
					<div class="input-field col offset-s3 col s2">
						<input value="{{ theme.getDateEnd|date("Y-m-d") }}" type="date" name="filter_date1">
					</div>
				{% else %}
					<div class="input-field col offset-s3 col s2">
						<input value="{{ new_filter_date1 }}" type="date" name="filter_date1">
					</div>
				{% endif %}
				{% if new_filter_date2 == null %}
					<div class="input-field  col s2">
						<input value="{{ theme.getDateEnd|date("Y-m-d") }}" type="date" name="filter_date2">
					</div>
				{% else %}
					<div class="input-field col s2">
						<input value="{{ new_filter_date2 }}" type="date" name="filter_date2">
					</div>
				{% endif %}
				<div class="col s2">
					<button type="submit" class="waves-effect waves-light btn" href="#">Изменить</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col s12 text-center">
			<h5>Итого: <b class="materialize-red-text">{{ result }}p</b></h5>
		</div>
	</div>
	<div class="row">
		<div class="col s12 text-center">
			<table class="highlight centered">
				<thead>
				<tr>
					<th>Мастер</th>
					<th>Кол-во смен</th>
					<th>Факт/План</th>
					<th>Доход</th>
					<th>ср. чел</th>
					<th>Загруженность</th>
				</tr>
				</thead>

				<tbody>
				{% for master in masters %}
					<tr class="border-0">
						<td class="border-0"><a href="{{ route('master-service',[master.id]) }}" class="waves-effect waves-teal btn-flat
						full-width text-center is-capitalize">{{ master.name }}</a></td>
						<td class="border-0">{{ master.shifts }}</td>
						<td class="border-0">{{ master.cur_hours|number_format(1) }}/{{ master.cur_plan }}</td>
						<td class="border-0">{{ master.current_money }}</td>
						{% if master.work_days!=0 %}
							<td class="border-0">{{ (master.work_services / master.work_days)|number_format(2) }}</td>
						{% else %}
							<td class="border-0">0</td>
						{% endif %}
						{% if master.cur_plan!=0 %}
							<td class="border-0">{{ (master.cur_hours / master.cur_plan *100)|number_format(2) }}%</td>
						{% else %}
							<td class="border-0">0%</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col s12 text-center">
			<table class="highlight centered">
				<thead>
				<tr>
					<th>Мастер</th>
					<th>Заработано за услуги</th>
					<th>ЗП за услуги</th>
					<th>Заработано за продажи</th>
					<th>ЗП за продажи</th>
					<th>Всего заработано</th>
					<th>Всего ЗП</th>
				</tr>
				</thead>

				<tbody>
				{% for master in masters %}
					<tr class="border-0">
						<td class="border-0"><a href="{{ route('master-service',[master.id]) }}" class="waves-effect waves-teal btn-flat
						full-width text-center is-capitalize">{{ master.name }}</a></td>
						<td class="border-0">{{ master.current_services_money }}</td>
						<td class="border-0">{{ master.current_services_money * master.zp /100 }}</td>
						<td class="border-0">{{ master.current_sales_money }}</td>
						<td class="border-0">{{ master.current_feedback }}</td>
						<td class="border-0">{{ master.current_money }}</td>
						<td class="border-0">{{ master.current_feedback + master.current_zp }}</td>
					</tr>
				{% endfor %}
				<tr>
					<td class="red_">Итого:</td>
					<td class="red_">{{ result_services_money }}</td>
					<td class="red_">{{ result_current_zp }}</td>
					<td class="red_">{{ result_sales_money }}</td>
					<td class="red_">{{ result_current_feedback }}</td>
					<td class="red_">{{ result }}</td>
					<td class="red_">{{ result_zp }}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="container-fluid is-margin-top-50">
	<div class="row">
		<div class="col s12">
			<table class="highlight centered">
				<thead>
				<tr>
					<th>Мастер</th>
					<th>Кол-во смен</th>
					<th>Доход</th>
					<th>Заработано</th>
					<th></th>
				</tr>
				</thead>

				<tbody>
				{% for master in masters %}
					<tr class="border-0">
						<td class="border-0"><a href="{{ route('master-service',[master.id]) }}" class="waves-effect waves-teal btn-flat
						full-width text-center is-capitalize">{{ master.name }}</a></td>
						<td class="border-0">{{ master.shifts_month }}</td>
						<td class="border-0">{{ master.money }}</td>
						<td class="border-0">{{ master.feedback + master.month_zp}}</td>
						<td class="border-0"><a href="{{ route('delete-user',[master.id]) }}" class="btn waves-effect waves-light red"><i
										class="material-icons"></i>Удалить</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{#<div class="container-fluid is-margin-top-50">
	<div class="row">
		<div class="col s12 text-center">
			<form action="{{ route('shift-date-filter') }}" method="get">
				{% if new_filter_date == null %}
					<div class="input-field col offset-s4 col s2">
						<input value="{{ theme.getDateEnd|date("Y-m-d") }}" type="date" name="filter_date">
					</div>
				{% else %}
					<div class="input-field col offset-s4 col s2">
						<input value="{{ new_filter_date }}" type="date" name="filter_date">
					</div>
				{% endif %}
				<div class="col s3">
					<button type="submit" class="waves-effect waves-light btn" href="#">Перейти</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col offset-s4 col s4">
			<table class="highlight centered">
				<thead>
				<tr>
					<th>Мастер</th>
					<th>Смена</th>
				</tr>
				</thead>

				<tbody>
				{% for master in masters %}
					<tr class="border-0">
						<td class="border-0">{{ master.name }}</td>
						<td class="border-0">
							<form method="get" action="{{ route('add-shift') }}">
								{{ csrf_field() }}
								<input name="master_id" value="{{ master.id }}" hidden>
								<input name="new_filter_date" value="{{ new_filter_date }}" hidden>
								{% if new_filter_date == null %}
									<select name="shift_type" disabled>
										<option value="" disabled selected>{{ master.shifts_today }}</option>
										<option value=0>нету смен</option>
										<option value=1>1-ая смена</option>
										<option value=2>2-ая смена</option>
										<option value=3>целый день</option>
									</select>
								{% else %}
									<select name="shift_type">
										<option value="" disabled selected>{{ master.shifts_today }}</option>
										<option value=0>нету смен</option>
										<option value=1>1-ая смена</option>
										<option value=2>2-ая смена</option>
										<option value=3>целый день</option>
									</select>
								{% endif %}
								<button type="submit" class="waves-effect waves-light btn" href="#">Сохранить</button>
							</form>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>#}

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>

<script>
	$(document).ready(function() {
		$('select').formSelect();
	});
	$(document).ready(function() {
		$('.datepicker').datepicker();
	});
	$(document).ready(function() {
		$('.collapsible').collapsible();
	});

</script>

</body>
</html>